:root {
    --branco-principal: #fff;
    --preto-principal: #000;
    --azul-alepe: #22224d;
    --cinza-secundario: #ccc;
    --branco-background: #f4f4f4;

}

body {
    margin: 0;
    padding: 0;
    background-color: var(--branco-background);
    font-family: "Open Sans", sans-serif;
}
  
.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: var(--branco-principal);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
    
}
  
.logo {
    max-width: 1000px; 
    margin-bottom: 1%; 
} 

h1 {
    color: var(--azul-alepe);
}

form {
    display: flex;
    flex-direction: column;
    text-align: left; 
    
   
}
  
label {
    margin-bottom: 5px;
    color: var(--preto-principal);
}
  
input[type="text"],
select,
textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid var(--cinza-secundario);
    border-radius: 3px;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    outline-color: var(--cinza-secundario);
    
}
  
button {
    padding: 10px 20px;
    background-color: var(--azul-alepe);
    border: none;
    border-radius: 3px;
    color: var(--branco-principal);
    cursor: pointer;
    transition: .3s;
    border: 0;
}
  
button:hover {
    transform: scale(1.02);
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: var(--branco-principal);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
footer {
    background-color: var(--azul-alepe);
    color: var(--branco-principal);
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 50px;
    text-align: center;
}

.textinho {
    margin-left: 140px;
}

.social-icons{
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20px;
}
